
<nav class="sidebar">
    <div class="sidebar-header">
<a href="#" class="sidebar-brand">
 CASE<span>MS</span>
</a>
<div class="sidebar-toggler not-active">
 <span></span>
 <span></span>
 <span></span>
</div>
</div>
<div class="sidebar-body">
<ul class="nav">
 <li class="nav-item nav-category">Main</li>
 <li class="nav-item">
  <form action="/" method="get">
   <button  class="nav-link" style="border: none;background-color: transparent;">
     <i class="link-icon" data-feather="box"></i>
     <span class="link-title">Dashboard</span>
   </button>
  </form>
 </li>

 <li class="nav-item nav-category">case Management</li>

 <li class="nav-item">
  <form action="/CasesTypes" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-text-width" style="font-size: 16px;" ></i>
    <span class="link-title">Case types </span>
  </button>
</form>
</li>
 <li class="nav-item">
  <form action="/Cases" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-gavel" style="font-size: 15px;" ></i>
    <span class="link-title">case Creation</span>
  </button>
</form>
</li>
<!-- <i class="fa-regular fa-eye"></i>
<i class="fa-solid fa-arrows-to-eye"></i> 
<i class="fa-solid fa-text-width"></i>
-->
 <li class="nav-item">
   <a href="/InvertigationDashboard" class="nav-link">
     <i class="link-icon fa-solid fa-arrows-to-eye"style="font-size: 15px;"></i>
     <span class="link-title">Investigation</span>
   </a>
 </li>
 <li class="nav-item">
  <form action="/CaseReviewDashboard" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-regular fa-eye" style="font-size: 15px;"></i>
    <span class="link-title">case review</span>
  </button>
</form>
</li>
 <li class="nav-item">
  <form action="/procecutorRoleDashboard" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-user-tie"  style="font-size: 15px;"></i>
    <span class="link-title">procecutor Role</span>
  </button>
</form>
</li>
 <li class="nav-item">
  <form action="/JudgeRoleDashboard" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-person-dots-from-line" style="font-size: 15px;" ></i>
    <span class="link-title">Judge Review</span>
  </button>
</form>
</li>
 
 <li class="nav-item nav-category">registration</li>
 <li class="nav-item">
  <form action="/stations" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-handcuffs" ></i>
    <span class="link-title">stations</span>
  </button>
</form>
</li>
<li class="nav-item">
  <form action="/officer" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-person-military-rifle" style="font-size: 16px;"></i>
    <span class="link-title">Officer</span>
  </button>
</form>
</li>
<!-- <i class="fa-solid fa-person-military-rifle"></i> -->
<!-- <i class="fa-solid fa-user-graduate"></i> -->
<!-- <i class="fa-regular fa-user"></i> -->
<li class="nav-item">
  <form action="/investigator" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-arrows-to-eye" ></i>
    <span class="link-title">Investicator</span>
  </button>
</form>
</li>
<li class="nav-item">
  <form action="/Procecutors" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-user-tie" ></i>
    <span class="link-title">Procecutors</span>
  </button>
</form>
</li>
<li class="nav-item">
  <form action="/Lawyer" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-user-graduate" ></i>
    <span class="link-title">Lawyer</span>
  </button>
</form>
</li>
<li class="nav-item">
  <form action="/Judges" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-person-dots-from-line" ></i>
    <span class="link-title">Judges</span>
  </button>
</form>
</li>
<!-- <i class="fa-solid fa-person-dots-from-line"></i> -->
<!-- <li class="nav-item">
  <form action="/users" method="get">
  <button  class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-regular fa-user" ></i>
    <span class="link-title">Users</span>
  </button>
</form>
</li> -->
<li class="nav-item nav-category">registration</li>
<li class="nav-item">
  <form action="/LogOut" method="post">
  <button  type="submit" class="nav-link" style="border: none;background-color: transparent;">
    <i class="link-icon fa-solid fa-arrow-right-from-bracket"></i>
    <span class="link-title">LogOut</span>
  </button>
</form>
</li>

<!-- 
 <li class="nav-item nav-category">Pages</li>
 <li class="nav-item">
   <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" role="button" aria-expanded="false" aria-controls="general-pages">
     <i class="link-icon" data-feather="book"></i>
     <span class="link-title">Special pages</span>
     <i class="link-arrow" data-feather="chevron-down"></i>
   </a>
   <div class="collapse" id="general-pages">
     <ul class="nav sub-menu">
       <li class="nav-item">
         <a href="pages/general/blank-page.html" class="nav-link">Blank page</a>
       </li>
       <li class="nav-item">
         <a href="pages/general/faq.html" class="nav-link">Faq</a>
       </li>
       <li class="nav-item">
         <a href="pages/general/invoice.html" class="nav-link">Invoice</a>
       </li>
       <li class="nav-item">
         <a href="pages/general/profile.html" class="nav-link">Profile</a>
       </li>
       <li class="nav-item">
         <a href="pages/general/pricing.html" class="nav-link">Pricing</a>
       </li>
       <li class="nav-item">
         <a href="pages/general/timeline.html" class="nav-link">Timeline</a>
       </li>
     </ul>
   </div>
 </li>
 <li class="nav-item">
   <a class="nav-link" data-bs-toggle="collapse" href="#authPages" role="button" aria-expanded="false" aria-controls="authPages">
     <i class="link-icon" data-feather="unlock"></i>
     <span class="link-title">Authentication</span>
     <i class="link-arrow" data-feather="chevron-down"></i>
   </a>
   <div class="collapse" id="authPages">
     <ul class="nav sub-menu">
       <li class="nav-item">
         <a href="pages/auth/login.html" class="nav-link">Login</a>
       </li>
       <li class="nav-item">
         <a href="pages/auth/register.html" class="nav-link">Register</a>
       </li>
     </ul>
   </div>
 </li>
 <li class="nav-item">
   <a class="nav-link" data-bs-toggle="collapse" href="#errorPages" role="button" aria-expanded="false" aria-controls="errorPages">
     <i class="link-icon" data-feather="cloud-off"></i>
     <span class="link-title">Error</span>
     <i class="link-arrow" data-feather="chevron-down"></i>
   </a>
   <div class="collapse" id="errorPages">
     <ul class="nav sub-menu">
       <li class="nav-item">
         <a href="pages/error/404.html" class="nav-link">404</a>
       </li>
       <li class="nav-item">
         <a href="pages/error/500.html" class="nav-link">500</a>
       </li>
     </ul>
   </div>
 </li>
 <li class="nav-item nav-category">Docs</li>
 <li class="nav-item">
   <a href="https://www.nobleui.com/html/documentation/docs.html" target="_blank" class="nav-link">
     <i class="link-icon" data-feather="hash"></i>
     <span class="link-title">Documentation</span>
   </a>
 </li> -->
</ul>
</div>
</nav>
